:root {
  --font-color: rgb(35, 18, 95);
  --back-color: rgba(30, 85, 235, 0.3);
  --font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}

.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(239, 252, 251);
}

.center-page {
  margin: 20px auto;
  width: 1024px;
  font-family: var(--font-family);
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(3, 63, 87, 0.5);
  padding: 20px 20px 20px 20px;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
}

.first-column {
  width: 42%;
  padding: 20px;
  color: var(--font-color);
  background-color: var(--back-color);
}

.second-column {
  width: 50%;
  padding: 20px;
  color: var(--font-color);
  background-color: rgb(228, 220, 245);
}

.header {
  padding: 30px;
  text-align: center;
  background-color: rgba(158, 248, 229, 0.5);
  border-radius: 20px;
}

.nav {
  padding: 10px 0px 10px 0px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.nav-link {
  padding: 0px 0px 0px 20px;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.header-image {
  width: 255px;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 20px;
}

h1 {
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: bold;
  line-height: 1;
}

h2 {
  margin:2px 2px 2px 2px;
  color: var(--font-color);
  font-family: var(--font-family);
  font-style: italic;
  line-height: 1;
}

h3 {
  border: 1px solid #3d0ea8;
  padding: 2px 2px 2px 15px;
  color: #ffffff;
  background-color: #3d0ea8;
}

.section {
  color: var(--font-color);
  font-family: var(--font-family);
  border-radius: 20px;
  }


.projects {
  text-decoration: none;
}


.my-github {
  display: flex;
  font-family: var(--font-family);
  text-decoration: none;
  color: var(--font-color);
  padding: 2px 2px 2px 440px;
  font-weight: bold;
}

.rs-school {
  display: flex;
  font-family: var(--font-family);
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
}

ul {
  list-style: none;
}
p {
  text-align: justify;
}
