h1 {color:blue;font-size: 37px;font-family:Georgia, 'Times New Roman', Times, serif}
h3 {font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif;}
p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}